###############################################################################
# For use with rclone-tasks.
# This is an example for automating executions using your local crontab.
# Use 'crontab -e' as a user to modify its crontab.
#
# Author: CarlesCN
# E-mail: carlesbioinformatics@gmail.com
# License: GNU General Public License v3.0
###############################################################################

0 * * * * /full/path/to/rclone-tasks /path/to/file.toml # every hour o'clock
0 3 * * * /full/path/to/rclone-tasks /path/to/file.toml # every day at 03:00
@hourly   /full/path/to/rclone-tasks /path/to/file.toml # also every hour
